version: 2.1
orbs:
  elixir: membraneframework/elixir@1
  codecov: codecov/codecov@3.2.4

jobs:
  test:
    docker:
      - image: membraneframeworklabs/docker_membrane:latest
        environment:
          MIX_ENV: test

    steps:
      - checkout
      - run: mix deps.get
      - run: mix coveralls.json --warnings-as-errors
      - codecov/upload

workflows:
  version: 2
  build:
    jobs:
      - elixir/build_test:
          filters: &filters
            tags:
              only: /v.*/
      - test:
          filters:
            <<: *filters
      - elixir/lint:
          filters:
            <<: *filters
      - elixir/hex_publish:
          requires:
            - elixir/build_test
            - test
            - elixir/lint
          context:
            - Deployment
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/

